# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env

# Project specific
output/
artifacts/
*.sqlite
*.log
.DS_Store
Thumbs.db

# IDE / editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Node Modules directory
node_modules
